# Few-shot datasets (confidential)
datasets/fewshot/
output/llm/
output/prompt/
output/fewshot/

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Ambientes e configs locais
# =========================
.env
.env.*
.idea/
.vscode/
core/llms/config/information_llms.csv

# =========================
# Logs e temporários
# =========================
logs/
*.log

# Python build artifacts
*.egg-info/
dist/
build/

core/llms/config/information_llms.csv
core/llms/config/information_llms.csv
